@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Luckiest+Guy&family=Poppins:wght@300;400;500;600;900&family=Prompt:wght@500;700&family=Raleway:ital,wght@0,400;0,500;0,900;1,300&display=swap");

:root {
  --color-bg: #00213d;
  --color-text: #fffbe5;
  --color-primary: #71fead;
  --color-bg-variant: #002647;
  --color-idan: #437e60;
  --font-awesome: "Luckiest Guy", cursive;
}
html {
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  display: none;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: white;
  background: var(--color-bg-variant);
}
